<nav class="navbar">
  <div class="nav-inner">
    <a class="brand" href="/listings">AirBnB</a>
    <div class="nav-links">
      <a class="nav-link" href="/listings">Home</a>
      <a class="btn btn-primary" href="/listings/add">Create New Listing</a>
    </div>
  </div>
</nav>
